body{
margin:0;
font-family:Arial;
display:flex;
height:100vh;
}

#sidebar{
width:220px;
background:#4a154b;
color:white;
padding:10px;
}

.channel{
cursor:pointer;
padding:5px;
margin-bottom:5px;
}

.channel:hover{
background:#611f69;
}

#chat{
flex:1;
display:flex;
flex-direction:column;
}

#messages{
flex:1;
padding:10px;
overflow:auto;
}

.message{
margin-bottom:5px;
}

#send{
display:flex;
padding:10px;
background:#eee;
}

input{
padding:10px;
margin-right:5px;
}
